.foot{
    background-color: black;
    color: aliceblue;
    height: 300px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.mainfoot{
    display: flex;

    
}
.footerright{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    margin-left: 100px;
    

}