/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular',
               'Lucida Grande', 'Lucida Sans Unicode',
               Geneva, Verdana, sans-serif;
}

/* Navbar */
nav {
  background-color: #ffffff;
  padding: 15px 25px;
  border: 2px solid #000;
  border-radius: 8px;
}

/* Main container */
.nav-container {
  display: flex;
  align-items: center;
}

/* Logo */
.logo {
  color: #11040a;
  font-size: 24px;
  font-weight: 700;
}

/* Center menu */
.nav-container ul {
  list-style: none;
  display: flex;
  gap: 50px;
  margin: 0 auto;
  padding: 0;
  margin-left: 490px;
}

/* Links */
nav a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  transition: 0.3s ease;
}

nav a:hover {
  color: #88f649;
  transform: translateY(-2px);
}

/* Right side buttons */
.right-nav {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* Cart icon */
.cart-icon {
  font-size: 22px;
  color: black;
  text-decoration: none;
  margin-right: 30px;
}

.cart-icon:hover {
  color: #555;
}

/* Buttons */
.nav-btn {
  text-decoration: none;
  color: black;
  padding: 8px 10px;
  border: 1px solid black;
  border-radius: 5px;
  background: white;
  cursor: pointer;
  transition: 0.3s ease;
  font-size: 15px;
}

.nav-btn:hover {
  background: black;
  color: white;
}

/*mobile view*/
@media (max-width: 768px) {
  .nav-container {
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 15px;
  }

  .nav-container ul {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 0;
    margin: 0;
  }

  .cart-icon {
    font-size: 22px;
  }

  .nav-btn {
    width: 100%;
    max-width: 220px;
    text-align: center;
  }
}