.con h1{
    display: flex;
    font-size: 2cm;
    flex-direction: column;
    align-items: center;
}
.con{
display: flex;
  justify-content: center;     /* vertical center */
  align-items: center;         /* horizontal center */
  flex-direction: column; 
}    

 .con h6 {
  display: inline-block;     /* make background wrap text */
  background: #88f649;       /* your color */
  padding: 6px 14px;         /* space around text */
  margin-bottom: 25px;
  font-size: 16px;
  font-weight: 500;
  color: #000;
}

 .c1{
    display: flex;
    height: 600px;
    justify-content: center;
 }